
 body {
     padding: 10px;
     background-color: #f0f0f0;
 }

 .container {
     display: flex;
     flex-direction: column;
     gap: 10px;
     height: 100vh;
 }

 .header,
 .footer {
     background-color: #3498db;
     color: white;
     padding: 10px;
     text-align: left;
     
 }

 .footer {
     background-color: #9b59b6;
 }

 .main {
     display: flex;
     gap: 10px;
     flex: 1;
 }

 .sidebar {
    background-color: #2ce135d8;
        flex: 2;
        padding: 10px;
        color: white;
    }
     
 

 .content {
     background-color: #e74c3c;
     flex: 3;
     padding: 10px;
     color: white;
 }