body {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.header {
    background-color: #333;
    color: white;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

.nav {
    background-color: #333;
    padding: 10px;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.top-section {
    background-color: #f0f0f0;
    padding: 40px 0;
}

.main-content {
    background-color: white;
    padding: 40px 0;
    width: 100%;
    margin: 0;
    
}
.about-section {
    background-color: #f0f0f0;
    padding: 40px 0;
}


p {
    color: gray;
}

.button {
    background-color: rgb(84, 79, 79);
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.project-container {
    text-align: center;
    color: gray;
}

.project {
    width: 150px;
    height: 150px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.project-container p {
    color: gray;
    font-size: 14px;
}
.footer {
    background-color: #333;
    color: rgba(117, 116, 116, 0.81);
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}   
